.App {
  text-align: center; 
}
body{
  background-color: blue;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #90CAF9;
    padding: 37px;
    margin-top: 153px;
    border-radius: 5px;

}
.signupform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #90CAF9;
  padding: 37px;
  margin-top: 153px;
  border-radius: 5px;
  width: 300px;

}
label{
  font-size: px;
  font-weight: 500;
}

.linkcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.table,th,td{
  border: 1px solid ;
  padding: 5px;
  /* padding: 10px; */
}
.table{
  width: 57em;
  border-collapse: collapse;
  background-color: white;
}
.tablecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  
}
 .logincontainer{ 
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 400px;
  width: 400px; */
  /* padding: 20px; */
} 

.signupcontainer{
  display: flex;
    align-items: center;
    justify-content: center;
}
button{
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;
  padding: 4px;
  width: 80px;
}
input{
  
  
  border-radius: 5px;
  padding: 4px;
}